{% extends 'index.html' %}

{% load static %}

{% block conten %}

<div class="tm-right">
    <main class="tm-main">
      <div id="drink" class="tm-page-content">
        <!-- Drink Menu Page -->
        
        <div id="cold" class="tm-tab-content">
          <div class="tm-list">
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/iced-americano.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News </p>
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/iced-cappuccino.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/iced-espresso.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/iced-latte.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News<a href="https://www.tooplate.com/contact" rel="nofollow" target="_parent">Un titre</a> Un News</p>
              </div>
            </div> 
                                   
          </div>
        </div> 

        <div id="hot" class="tm-tab-content">
          <div class="tm-list">
          
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/hot-americano.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/hot-cappuccino.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>                    
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/hot-espresso.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/hot-latte.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>
                     
          </div>
        </div>

        <div id="juice" class="tm-tab-content">
          <div class="tm-list">
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/smoothie-1.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/smoothie-2.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>                    
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/smoothie-3.png'}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>
            <div class="tm-list-item">          
              <!-- <img src="{% static 'webpage/img/smoothie-4.png' %}" alt="Image" class="tm-list-item-img"> -->
              <div class="tm-black-bg tm-list-item-text">
                <h3 class="tm-list-item-name">Un Titre<span class="tm-list-item-price">Verify</span></h3>
                <p class="tm-list-item-description">Un News</p>              
              </div>
            </div>              
          </div>
        </div>
        <!-- end Drink Menu Page -->
      </div>
      {% endblock %}
      
  